{% extends "layout.html"%}

{% block body%}
	<div class="introduccio">
		<a class="abasi">&ensp;ABASI<a class="concepts"> CONCEPTS </a><br>
		La solución tecnológica para <br> 
		el crecimiento de tu negocio.
	</div>
	<img height="550" width="1519" src="{{url_for('static', filename='geometric.jpg')}}"/>
		
	<section class="section-index">
			
		<article class="article-index"><h1>Diseño web Empresarial</h1><br>
			En nuestra agencia de Barcelona te ofrecemos servicios de diseño web y programación de páginas web de todo tipo: 
			webs corporativas, institucionales, catálogos o tiendas online. </article>
		<article class="article-index"><h1>posicionamos tu web</h1><br>
			En nuestra agencia de Barcelona te ofrecemos servicios de diseño web y programación de páginas web de todo tipo: 
			webs corporativas, institucionales, catálogos o tiendas online. </article>
		<article class="article-index"><h1>soporte web continuo</h1><br>
			En nuestra agencia de Barcelona te ofrecemos servicios de diseño web y programación de páginas web de todo tipo: 
			webs corporativas, institucionales, catálogos o tiendas online. </article>
		<article class="article-index"><h1>Mantenimiento web</h1><br>
		En nuestra agencia de Barcelona te ofrecemos servicios de diseño web y programación de páginas web de todo tipo: 
		webs corporativas, institucionales, catálogos o tiendas online. </article>
	</section> 
	 
{% endblock %}